<!-- hybrid_astar_search 仿真 -->
<launch>
    <node pkg="hybrid_astar_search" type="hybrid_astar_search" name="hybrid_astar_search" output="screen" launch-prefix="gnome-terminal --">
        <!-- 参数 -->
        <!-- 停止距离 -->
        <param name="global_planner/safe_distance" value="0.01" type="double"/>
        <param name="global_planner/time_per_path" value="0.5" type="double"/>
        <param name="fsm/thresh_replan" value="1.5" type="double"/>

        <param name="kinodynamic_astar/max_tau" value="0.5" type="double"/>
        <param name="kinodynamic_astar/init_max_tau" value="0.5" type="double"/>
        <param name="manager/max_vel" value="1.0" type="double"/>
        <param name="manager/max_acc" value="1.0" type="double"/>
        <param name="kinodynamic_astar/w_time" value="15.0" type="double"/>
        <param name="kinodynamic_astar/horizon" value="9.0" type="double"/>
        <param name="kinodynamic_astar/lambda_heu" value="2.0" type="double"/>
        <param name="kinodynamic_astar/time_resolution" value="2.0" type="double"/>
        <param name="kinodynamic_astar/margin" value="0.4" type="double"/>
        <param name="kinodynamic_astar/allocate_num" value="100000" type="int"/>
        <param name="kinodynamic_astar/check_num" value="5" type="int"/>

        <!-- 分辨率 -->
        <param name="grid_map/resolution" value="0.05" type="double"/>
        <!-- 障碍物膨胀距离 -->
        <param name="grid_map/obstacles_inflation" value="0.35" type="double"/>
        <!-- 地图范围 -->
        <param name="map/origin_x" value="-8.0" type="double"/>
        <param name="map/origin_y" value="-5.0" type="double"/>
        <param name="map/origin_z" value="0.0" type="double"/>
        <param name="grid_map/map_size_x" value="16.0" type="double"/>
        <param name="grid_map/map_size_y" value="10.0" type="double"/>
        <param name="grid_map/map_size_z" value="3.0" type="double"/>
    </node>
</launch>
